* {
  font-family: "Alike Angular", serif;
}
/*Home Page*/

/*header*/
header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

#logo {
  font-weight: 800;
  font-size: 2rem;
}

/* background */
.assignment-img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

/*Project Page*/
.project-img {
  width: 100%;
}

figure {
  margin-left: 0;
  grid-area: img;
}

.project-container {
  display: grid;
  grid-template-areas:
    "img img img"
    "img img img";
}

/*Connect Page*/
.middle-block {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  height: 600px;
  text-align: center;
  font-size: larger;
  background-color: rgba(225, 220, 215, 0.523);
  line-height: 60px;
}

.middle-block .name-text {
  font-size: 40px;
}
.middle-block .sweden-text {
  font-size: 28px;
}

.page2-img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}
.middle-block2 {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  height: 600px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(248, 241, 226);
  line-height: 60px;
}

.contact-text {
  font-size: 15px;
}
