* {
  font-family: "Alike Angular", serif;
}
/*Home Page*/

/*header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: flex-end;
}
ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(243, 197, 205);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  color: white;
  animation-duration: 1s;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

nav a:hover {
  background-color: beige;
  transform: scale(1.1);
}
@keyframes change-color {
  0% {
    background-color: rgb(243, 197, 205);
    transform: scale(1);
  }

  100% {
    background-color: beige;
    transform: scale(1.1);
  }
}

#logo {
  font-weight: 800;
  font-size: 2rem;
}

.introduction {
  text-align: center;
  font-size: larger;
  line-height: 60px;
  padding-top: 100px;
}

/*Project Page*/
.project-img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

figure {
  margin-left: 0;
}

/*Connect Page*/

.connect-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 360px;
  padding: 1rem;
  background: rgb(247, 248, 238);
}

.title {
  text-align: center;
  font-size: 24px;
}

form input {
  height: 40px;
  padding-left: 10px;
  outline: none;
}

form button {
  height: 40px;
  border: none;
  background-color: rgb(243, 197, 205);
  color: white;
}

/*Project-detail Page*/
.project-detail {
  display: flex;
  align-items: center;
}

.left-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h1 {
  font-size: 2rem;
  margin: 0;
}

.right-section p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px;
}

/* responsive for nav*/
@media screen and (max-width: 500px) {
  header,
  ul {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/*responsive for project*/
@media screen and (min-width: 520px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*responsive for project detail*/
@media screen and (max-width: 770px) {
  .left-section,
  .right-section {
    width: 100%;
    text-align: center;
  }
  .right-section h1 {
    font-size: 1.5rem;
  }
  .right-section p {
    font-size: 0.9rem;
  }
  .project-detail {
    flex-direction: column;
    align-items: center;
  }
}
/*responsive for connect page*/
@media screen and (max-width: 360px) {
  form {
    width: 90%;
  }
  .title {
    font-size: 20px;
  }
}

/*responsive for home page*/
@media screen and (max-width: 770px) {
  .middle-block {
    padding: 1rem;
    font-size: 1rem;
  }
}
