* {
  font-family: "Alike Angular", serif;
}
/*Home Page*/

/*header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: flex-end;
}
ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

nav a {
  text-align: center;
  line-height: normal;
  text-decoration: none;
  background-color: rgb(243, 197, 205);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

nav a:hover {
  background-color: beige;
  transform: scale(1.1);
}
@keyframes change-color {
  0% {
    background-color: rgb(243, 197, 205);
    transform: scale(1);
  }

  100% {
    background-color: beige;
    transform: scale(1.1);
  }
}

#logo {
  background-color: rgba(245, 245, 220, 0.687);
  color: rgba(75, 54, 33);
  border-radius: 5%;
  font-weight: 800;
  font-size: 2rem;
  animation-name: shake;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  25% {
    transform: scale(1.2);
  }
  40% {
    transform: rotate(-20deg) scale(1.2);
  }

  50% {
    transform: rotate(20deg) scale(1.2);
  }

  60% {
    transform: rotate(-20deg) scale(1.2);
  }

  70% {
    transform: rotate(20deg) scale(1.2);
  }

  80% {
    transform: rotate(-20deg) scale(1.2);
  }
  90% {
    transform: rotate(20deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 600px;
  height: auto;
  margin: 100px auto;
  color: rgba(75, 54, 33, 0.457);
}

.content-box,
.change-background-container {
  background-color: rgba(245, 245, 220, 0.373);
  width: 250px;
  height: 300px;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait-image {
  width: 180px;
  height: 200px;
  border-radius: 20%;
}

.change-background-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-background-text h2 {
  font-size: 12px;
  color: rgba(75, 54, 33, 0.457);
  text-align: center;
  margin-bottom: 15px;
}
.change-background-button {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: none;
  background-color: rgb(243, 197, 205);
  color: aliceblue;
  font-size: 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.change-background-button:hover {
  background-color: beige;
  color: rgba(75, 54, 33, 0.457);
}

@media (max-width: 700px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    width: 90%;
  }

  .content-box,
  .change-background-container {
    max-width: 100%;
    height: auto;
  }
}
/*Project Page*/
.project-img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

figure {
  margin-left: 0;
}

/*Connect Page*/

.connect-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 360px;
  padding: 1rem;
  background: rgb(247, 248, 238);
}

.title {
  text-align: center;
  font-size: 24px;
}

form input {
  height: 40px;
  padding-left: 10px;
  outline: none;
}

form button {
  height: 40px;
  border: none;
  background-color: rgb(243, 197, 205);
  color: white;
}

/*Project-detail Page*/
.project-detail {
  display: flex;
  align-items: center;
}

.left-section {
  width: 50%;
  justify-content: center;
}
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h1 {
  font-size: 2rem;
  margin: 0;
}

.right-section p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px;
}

/* responsive for nav*/
@media screen and (max-width: 500px) {
  header,
  ul {
    flex-direction: column;
    align-items: center;
  }

  ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/*responsive for project*/
@media screen and (min-width: 520px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*responsive for project detail*/
@media screen and (max-width: 770px) {
  .left-section,
  .right-section {
    width: 100%;
    text-align: center;
  }
  .right-section h1 {
    font-size: 1.5rem;
  }
  .right-section p {
    font-size: 0.9rem;
  }
  .project-detail {
    flex-direction: column;
    align-items: center;
  }
}
/*responsive for connect page*/
@media screen and (max-width: 360px) {
  form {
    width: 90%;
  }
  .title {
    font-size: 20px;
  }
}

/*responsive for home page*/
@media screen and (max-width: 770px) {
  .middle-block {
    padding: 1rem;
    font-size: 1rem;
  }
}
